header {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
}
header img {
  width: 210px;
  height: 68px;
}
ul {
  gap: 57px;
  display: flex;
}
li {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #F1356D;
}
/* Mobile */
@media only screen and (max-width: 768px) {
  header {
      width: 335px; 
      height: 46px; 
      align-items: center; 
      padding: 0; 
      gap: 25px;
  }

  header img {
    width: 145px; 
    height: 46.88px; 
    margin-left: 0;
  }

  nav {
    width: 190px; 
    height: 17px; 
    display: flex;
    gap: 26px; 
  }


  ul {
    flex-direction: row; 
    width: 100%;
    gap: 10px; 
    padding: 0; 
    margin: 0; 
  }

  li {
    font-size: 12px; 
    line-height: 17.11px; 
  }

}