.header {
  
}

.logo {
  flex: 1;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
  }

  .logo {
    width: 125px;
    height: 45px;
    margin-left: 17px;
  }
}
