.logement-page {
    color: #FF6060; 
    font-weight: normal;
    padding-top: 5%;
    flex-direction: column;
    display: flex;
    padding: 0 50px 30px 50px;
}

.logement__description__collapse {
    display: flex;
    gap: 4rem;
    margin-top: 15px;
}

@media only screen and (max-width: 768px) {
    .logement__description__collapse {
        padding-bottom: 25px;
        flex-direction: column;
        gap: 0.3rem;
    }

    .logement-page {
        padding-right: 7%;
        padding-left: 7%;
        padding-bottom: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .logement-page {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}
