.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    box-sizing: border-box;
    padding: 0 20px;
    margin: auto;
    max-width: 1440px;
    min-width: 375px;
    font-family: Montserrat, sans-serif;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 50px 50px;
    max-width: 1140px;
    background: #f6f6f6;
    border-radius: 25px;
}

@media (max-width: 1200px) {
    .cardsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .home {
        gap: 25px;
    }

    .cardsContainer {
        grid-template-columns: repeat(1, 1fr);
        background: white;
        padding: 0;
    }
}
