.banner {
    position: relative;
    max-width: 100%;
    height: 150px;
    display: grid;
    margin: auto;
    border-radius: 1rem;
    object-fit: cover;
    margin-bottom: 10rem;
}

.banner img {
    max-width: 100%;
    height: auto;
    background-size: cover;
    margin-top: 50px;
    position: absolute;
    border-radius: 20px;
}

h1 {
    position: relative;
    font-size: xxx-large;
    display: flex;
    font-weight: 500;
    color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 264px;
}

/* RESPONSIF */
@media only screen and (max-width: 1240px) {
    h1 {
        height: 200px;
        font-size: xxx-large;
        font-weight: 500;
    }

    .banner {
        margin-bottom: 6rem;
    }
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: xx-large;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        align-items: center;
    }
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .banner {
        margin-bottom: 60px;
        width: 100%;
        place-items: flex-start;
        height: 140px;
        display: flex;
        align-items: center;
    }

    h1 {
        align-items: center;
        font-size: xx-large;
        margin-top: 70px;
    }

    .banner__text {
        display: flex;
        font-size: 24px;
        width: 60%;
        left: 10px;
        color: #fff;
    }
}

@media only screen and (max-width: 480px) {
    .banner {
        height: 50px;
    }

    .banner img {
        border-radius: 10px;
        height: 74px;
        object-fit: cover;
    }

    h1 {
        margin-left: 45px;
        font-size: large;
        border-radius: 5px;
        width: 62%;
    }
}
