.banner {
    position: relative;
    height: 272px;
    display: flex;
    border-radius: 1rem;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.banner img {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    border-radius: 20px;
    filter: brightness(0.8);
}

h1 {
    position: relative;
    font-size: xxx-large;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

/* RESPONSIF */
@media only screen and (max-width: 1024px) {
    h1 {
        font-size: xx-large;
    }
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .banner {
        margin-bottom: 60px;
        width: 100%;
        place-items: flex-start;
        height: 140px;
        display: flex;
        align-items: center;
    }

    h1 {
        align-items: center;
        font-size: x-large;
    }

    .banner__text {
        display: flex;
        font-size: 24px;
        width: 60%;
        left: 10px;
        color: #fff;
    }
}

@media only screen and (max-width: 480px) {
    .banner {
        height: 50px;
    }

    .banner img {
        border-radius: 10px;
        height: 74px;
        object-fit: cover;
    }

    h1 {
        font-size: smaller;
        border-radius: 5px;
    }
}