.banner {
    position: relative;
    height: 223px;
    display: flex;
    border-radius: 1rem;
    margin-right: 50px;
    margin-left: 50px;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombre légère pour la bannière */
  }
  
.banner img {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    border-radius: 20px;
    filter: brightness(0.8);
}

h1 {
    position: relative;
    font-size: xxx-large;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

/* RESPONSIF */
@media only screen and (max-width: 1024px) {
    h1 {
        font-size: xx-large;
    }
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .banner {
        margin-bottom: 60px;
        place-items: flex-start;
        height: 140px;
        display: flex;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
    }

    h1 {
        align-items: center;
        font-size: x-large;
    }

    .banner__text {
        display: flex;
        font-size: 24px;
        width: 60%;
        left: 10px;
        color: #fff;
    }
}

