@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  max-width: 1240px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  main {
      padding: 20px 20px 0px 20px;
  }

  /* Exception pour le conteneur .logement-page */
  .logement-page {
    padding: 0; /* Ajuste ou supprime le padding pour .logement-page */
}
}

* {
  box-sizing: border-box;
}
